/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

/* Card Section */
.card-section {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width:200px;
    text-align: center;
    padding:10px;
}

.card img {
    width: 70%;
    border-radius: 8px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    color: #555;
}

/* Organization Chart */
.organization-chart {
    text-align: center;
    margin-top: 30px;
}

.organization-chart img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Notifications */
.notifications {
    margin-top: 30px;
}

.notifications ul {
    list-style: none;
    padding: 0;
}

.notifications ul li {
     ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        .notification-btn {
            display: block;
            text-align: center;
            text-decoration: none;
            background-color: #4CAF50; /* Green */
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }
        .notification-btn:hover {
            background-color: #45a049;
        }
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 708px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}
